
body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.wrapper {

}

a {
    text-decoration: none;
}
/*
img {
    max-width:100%;
    height:auto;
}*/


.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}
.site-navigation{
    list-style: none;
}
.site-navigation a {        /*покой*/   
    color: #000000;
}
.site-navigation a:hover {  /*наведение*/   
    color: #81b3d2;
}
.site-navigation a:active { /*нажатие*/ 
    color: #cacaca;
}
.active {
	pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #766357; /* цвет текста для нективной ссылки */



.welcome{
    background-color: #ffffff;
    background-image: url ("img/img1.jpg");
    background-position: top center;
}
.visually-hidden {
    display: none;
}

.welcome-title {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}
.welcome-five {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}


.blue-town {
    background-color: #81b3d2;
    width: 1200px;
    height: 258px;
}
.blue {
    color: #ffffff;
    background-color: #81b3d2;
}
.title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}
.number,
.comment {
   text-align: center;
}
.town {
    background-image: url("img/town.jpg");
    background-repeat:no-repeat;
    width: 800px;
    height: 400px;
    background-position:;
}
.bridge {
    background-image: url("img/bridge.jpg");
    background-repeat:no-repeat;
    width: 800px;
    height: 400px;
    background-position:;
}
}
.grey {
    color: #000000;
    background-color: #eeeeee;
}
.feature-item1 {
    width:75px;
    height:72px;
    background-image:("img/icon1.svg");
}
.feature-item2 {
    width:74px;
    height:70px;
    background-image:url("img/icon2.svg");
}
.feature-item3 {
    width:64px;
    height:76px;
    background-image:url("img/icon3.svg");
}



.interesting1 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.offer {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}


.button {
   font: inherit;
   text-align: center;
   border-radius: 0;
}
.btn-interesting {
    
}





